img{
    width: 100%;
    padding: 5% 20px;
    box-sizing: border-box;
    margin: 0 auto;
    border-radius: 30px;
}
.postimg{
    animation: hero 1s forwards ease-in-out;
    animation-delay: 1s;
}
@keyframes hero {
    0% {
        width: 100%;
    }
    100% {
        width: 170px;
    }
}
.wrap-top {
    text-align: center;
}
.wrap {
    border-radius: 30px;
    overflow: hidden;
    display: inline-block;
    animation: 2.2s pulse infinite ease-out;
    /* animation-delay: 3s; */
    transition: 1s all;
    margin: 30px 5%;
    text-align: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
}
.body-box {
    display: block;
}

main div > h2 {
    background: linear-gradient(  #fff 70%, #fde04e 30% );
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0.8px rgba(102, 51, 153, 0.8);
    }
    100%{
        box-shadow: 0 0 0 20px rgba(102, 51, 153, 0);
    }
}

.rebeccapurple {
    color: white;
    font-weight: 800;
    font-size: 30px;
    display: block;
    background-image: linear-gradient(135deg, #4f45dc,#ec700b);
    transition: 2s ease-out;
    padding-left: 3%;
    padding-bottom: 5px;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 2px #888;
}
.rebeccapurple:hover {
    /* background-image: linear-gradient(135deg, #4568dc,#b06ab3); */
    padding-left: 70%;

    
}
@media all and ( max-width: 1024px ) {
    
}
@media all and ( max-width: 768px ) {
    
}